body {
  color: #888;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 33px;
  margin: 0;
  -webkit-transition: background-color .3s;
}
.fullscreen {
  bottom: 0;
  display: -webkit-flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#dropTarget {
  background-color: #fff;
  border: 4px dashed #ccc;
  margin: 20px;
  -webkit-transition: background-color, margin;
  -webkit-transition-duration: .3s;
}
#dropTarget.dragover {
  margin: 30px;
  background-color: #eee;
}

#dropTarget > div {
  margin: auto;
}

.counter {
  bottom: 40px;
  left: 10%;
  position: absolute;
  right: 10%;
  text-align: center;
  -webkit-transition-duration: .3s;
}
.counter.changing {
  color: #8b8;
  -webkit-transform: scale(1.2);
}
.counter.left {
  margin-left: -50%;
}
.counter.right {
  margin-left: 50%;
}
.counter.gone {
  opacity: 0;
  bottom: 0;
}
.counter.green {
  color: #8b8;
}

.label {
  font-size: 25px;
  bottom: 90px;
  left: 10%;
  position: absolute;
  right: 10%;
  text-align: center;
  -webkit-transition-duration: .3s;
  font-style: italic;
}
.label.left {
  margin-left: -50%;
}
.label.right {
  margin-left: 50%;
}
.label.gone {
  opacity: 0;
}


#dropLabel {
  cursor: pointer;
  margin: auto;
  -webkit-transition-duration: .3s;
}
#dropLabel:hover {
  color: #88e;
  -webkit-transform: scale(1.3);
}
